<h1>DBZ personajes</h1>
<hr>

<div class="row">
  <div class="col">
    <h4>listado</h4>
    <ul>
      <li>Krilin - 500</li>
      <li>Goku - 10000</li>
    </ul>
  </div>
  <div class="col">
    <form class="row">
      <h4>Agregar Personaje</h4>
      <input type="text" class="form-control mb-2" placeholder="Nombre">
      <input type="number" class="form-control mb-2" placeholder="Poder">

      <button type="submit" class="btn btn-primary">
        Agregar
      </button>
    </form>
  </div>
</div>
